﻿@model IEnumerable<RadyaLabsWeb.Models.House>

@{
    ViewData["Title"] = "List";
}

<h2>Houses</h2>

<p>
    <a asp-controller="Houses" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Type
            </th>
            <th>
                Adress
            </th>
            <th>
               Latitude
            </th>
            <th>
               Longitude
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem  => item.Adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longitude)
                </td>
                <td>
                    <a asp-controller="Houses" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-controller="Houses" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-controller="Houses" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
