﻿@model IEnumerable<RadyaLabsWeb.Models.House>

@{
    ViewData["Title"] = "Index";
}

<div id="map" style="width: 100%; height: 500px; margin-top:25px;"></div>
<script>

    function initmap() {

        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: -3.450200, lng: 115.450880 },
            zoom: 5
        });

        var markers = [];
        var marker, i;
        var infoWindow = new google.maps.InfoWindow();

        for (i = 0; i < locations.length; i++) {
            var data = locations[i]
            var myLatlng = new google.maps.LatLng(data.lat, data.lng);
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: data.type
            });

            (function (marker, data) {
                google.maps.event.addListener(marker, "click", function (e) {
                    infoWindow.setContent(data.address + ', tipe : ' + data.type);
                    infoWindow.open(map, marker);
                });
            })(marker, data);

            markers.push(marker);
        }

        
        var markerCluster = new MarkerClusterer(map, markers,
            { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });

    }

    var locations = @Html.Raw(ViewBag.Locations);


</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyC4-oyBFWsBWlSOMD5900vaFOTCSbgtP2A&callback=initmap"></script>
